
p{
    font-size: 21px;
    font-family: "Poppins";
}

/* .container-sm{
    background: rgba(24, 24, 16, .2);
    border-radius: 2em;
    backdrop-filter: blur(25px);
    border: 2px solid rgba(255, 255, 255, 0.05);
    background-clip: padding-box;
} */